. {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.body1 {
	padding: 0 150px 0 150px;
	/*background-image: url(../img/background.jpg);*/
}

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	background-color: black;
	padding: 30px;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
}

.nav > ul >li {
	display: inline;
	margin-left: 20px;
	font-family: 'Arial';
	color: white;
}

.nav > ul > li >a {
	color: white;
	text-decoration: none;
}

.nav {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1px;
	position: relative;
}
.container {
	text-align: justify;
	/*margin-right: 300px;*/
	background-color: white;
	border: 10px solid grey;
	margin-top: 20px;
	border-radius: 5%;
	width: 70%;
	float: left;
}

.nav > a > img[src*="subscribe"] {
	width: 100px;
	float: right;
	margin-bottom: 100%;
}

.container2{
	width: 30%;
	float: left;
}



