.colorfg { /*color foreground*/
	color: white; /*or any other color*/
}

.colorbg {
	background-color: black;
}

.name {
	background-color: mediumaquamarine;
}

.rgb { /*rgb =built-in function. Needs 3 arguments. Values between 0 up to 255 (amount of red, green and blue*/
	background-color: rgb(255, 0, 0) /*rgb=red, green, blue*/
}

.rgba {
	background-color: rgba(255, 255, 255, 0.5); 
	color: black;
	/*rgba=red,green,blue,alpha*/
	/*alpha-receives value from 0.0 to 1.0
	sets opacity*/
}
.hex { 	/*hexadecimal =values coming from 0-9, A-F*/
	background-color: #012; /*best practice is to use shorthand whenever feasible ex. abc*/
}

/*hue, saturation, lightness*/
.hsl {
	/*hue= 0-360 degrees*/
	/*saturation=0-100%*/
	/*lightness=0% black, 50% normal, 100% white*/
	background-color: hsl(0, 0%, 100%);
}

.hsla { /*hue, saturation, lightness, alpha (opacity or transparency)*/
	background-color: hsla(30, 50%, 78%, 0.5);
}

.opacity {
	background-color: red;
	opacity: 0.5; /*values from 0.0 up to 1.0*/
}
/*text*/
.bold {
	font-weight: bold;
}

.italic {
	font-style: oblique;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

.linethrough {
		text-decoration: line-through;
}

.none { /*commonly used to modify anchor tags*/
	text-decoration: none;
}

.lineheight {
	line-height: 3; /*for readability*/
}

.letterspacing {
	letter-spacing: -2px; /*for readability*/
}

.wordspacing {
	word-spacing: 1em; /*or values in px*/
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.aligncenter {
	text-align: center;
}

.alignjustify {
	text-align: justify;
}

.indent {
	text-indent: 20px;
}

.textshadow {
	text-shadow: 10px 10px 20px red;
}

.localfont { /*machine-dependent fonts. Fonts differ depending on the OS*/
	/*fallback fonts.*/
	/**/
	font-family: 'Times New Roman', 'Helvetica', 'Arial', sans-serif;
}

@font-face{ /*importing true type fonts*/
	font-family: Grundschrift-Bold;
	src: url(../fonts/grundschrift/grundschrift/Grundschrift-Bold.otf); /*add single or double quote for files or folders with space*/
}

.downloadedfont { /*using the truetype fonts*/
	font-family: grundschrift-Bold;
}

.serif {
	font-family: 'Georgia', serif;
}

.sansserif {
	font-family: 'Arial', sans-serif;
}

.monosspace {
	font-family: 'Courier', monospace;
}

.cursive {
	font-family: 'Comic Sans MS', cursive;
}

.fontfamily {
	font-family: 'Impact', fantasy;
}

.pixels {
	font-size: 16px;
}

.percent {
	font-size: 200%; /*Suitable for responsive web design*/
}

.ems {
	font-size: 3em; /*1em=16px. Dependent to default font size*/
}

.boxshadow {
	box-shadow: 10px 10px 5px blue;
}